---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import { Form } from '../components/form';
---

<Layout title="Welcome to Astro.">
	<main class="bg-white text-gray-900 min-h-screen flex flex-col">
		<Header/>
		<Form client:visible/>
		
		<section id="features" class="py-20">
			<div class="container mx-auto px-6">
				<h2 class="text-3xl font-bold text-center mb-6">¿Why use Shortcat?</h2>
				<div class="grid grid-cols-1 md:grid-cols-3 gap-6 text-center">
					<div class="p-6 rounded-lg shadow-lg bg-gray-100">
						<h3 class="text-xl font-semibold mb-2">Fast and Simple</h3>
						<p>Two clicks and you have your short URL ready to go</p>
					</div>
					<div class="p-6 rounded-lg shadow-lg bg-gray-100">
						<h3 class="text-xl font-semibold mb-2">Security</h3>
						<p>Every URL is verified to garantize security</p>
					</div>
					<div class="p-6 rounded-lg shadow-lg bg-gray-100">
						<h3 class="text-xl font-semibold mb-2">Accesible</h3>
						<p>Use you URLS from any device and place.</p>
					</div>
				</div>
			</div>
		</section>
	
		<footer class="bg-black text-white py-6">
			<div class="container mx-auto px-6 text-center">
				<p>&copy; Shortcat🐱</p>
			</div>
		</footer>
	</main>
</Layout>

<style>
	
</style>
